.box {
  padding: 0% 10% 5% 10%;
  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0 0 0 0;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  padding: calc(var(--mantine-spacing-xl));
  margin: calc(var(--mantine-spacing-xl));
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
  font-family: 'Greycliff CF', var(--mantine-font-family);
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column-reverse;
    padding: var(--mantine-spacing-xl);
    margin: var(--mantine-spacing-xl);
  }
}

.image {
  max-width: 200px;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.body {
  padding-right: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: x-large;
  }
}
