.box {
  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0 0 0 0;
  }
}
.buttonCollapse{
  padding: 10px 0px 10px 0px;
  height: fit-content;
  font-size: x-large;    
  padding: calc(var(--mantine-spacing-xl));
  font-style: italic;
  /* color: $primary-color; */
}
.wrapper {
  display: flex;
  align-items: center;
  padding-left: calc(var(--mantine-spacing-md));
  margin: calc(var(--mantine-spacing-sm));
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
  font-family: 'Greycliff CF', var(--mantine-font-family);
  justify-content: space-between;
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column-reverse;
    padding-left: 5px;
    margin: 5px 0px 5px 0px;
  }
}

.image {
  max-width: 200px;
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.body {
  padding-right: calc(var(--mantine-spacing-xl) * 4);
  @media (max-width: $mantine-breakpoint-sm) {
    padding: 0;
  }
}

.title {
  font-weight: 800;
  color: $secondary-color;
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
  font-size: large;
  margin-top: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-sm);
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: x-large;
  }
}
.description{
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;

}
.imageTitle {
  margin-bottom: 10px;
  /* background-color: $primary-color-faded; */
}