.card {
    background-color: var(--mantine-color-body);
    padding: 50px;
    @media (max-width: $mantine-breakpoint-sm) {
      padding: 0;
    }
  }
  
  .title {
    font-weight: bold;
    font-family: Greycliff CF, var(--mantine-font-family);
    line-height: 1.2;
    font-size: xx-large;

  }
  
  .body {
    padding: var(--mantine-spacing-md);
    font-size: x-large;
   
  }