.comment {
    padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  }
  
  .body {
    padding-left: rem(54px);
    padding-top: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
  }
  
  .content {
    & > p:last-child {
      margin-bottom: 0;
    }
  }
.textBackground {
/* background-color: #f0f0f0;  */
font-family: 'Greycliff CF', var(--mantine-font-family);
padding: 15px; 
@media (max-width: $mantine-breakpoint-sm) {

  padding: 10px;
}
}
.title{
  font-size: rem(70);
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(50);
    text-align: center; /* Center the text */

  }
}