.card {
    transition: transform 150ms ease, box-shadow 150ms ease;
    background-color: rgb(248, 245, 241);
    width: 200px;
    height: 200px;

  
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--mantine-shadow-md);
      background-color: rgb(189, 236, 249);
    }
  }
  
.title {
  text-align: center;
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.longcard {
  transition: transform 150ms ease, box-shadow 150ms ease;
  background-color: rgb(248, 245, 241);
  width: 500px;
  /* height: 200px; */


  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
    background-color: rgb(189, 236, 249);
  }
}

.longest {
  transition: transform 150ms ease, box-shadow 150ms ease;
  background-color: rgb(248, 245, 241);
  width: 800px;
  /* height: 250px; */


  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
    background-color: rgb(189, 236, 249);
  }
}