.group {
  background-color: #e7f2f9;
  min-height: auto;
  padding: 30px;
}

.card,
.longcard,
.longestCard {
  transition: transform 150ms ease, box-shadow 150ms ease;
  background-color: rgb(231, 228, 225);
  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
    background-color: rgb(165, 219, 234);
  }
}

.card {
  width: 200px;
  height: 200px;
}

.longcard {
  width: 500px;
}

.longestCard {
  width: 800px;
}

.title {
  text-align: center;
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}
