@font-face {
    font-family: 'Allura';
    src: url('/fonts/Allura-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
.textBackground {
    /* background-color: #f0f0f0;  */
    font-family: 'Greycliff CF', var(--mantine-font-family);
    padding: 5px 20px 5px 20px;
    @media (max-width: $mantine-breakpoint-sm) {
    
      padding: 10px;
    }
    }
    .title{
      font-size: rem(70);
      font-family: "Allura";
      color: rgb(132, 132, 132);
      @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(50);
        text-align: center; /* Center the text */
    
      }
    }

.link{
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: black;
  font-size: xx-large;
  font-weight: 600;
  background-color: #ffdeff;
}

.bgimage{
  background-image: url('../../../public/images/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

