.box {
  padding-left: 10%;
  padding-right: 10%;
  /* padding-bottom: calc(20vh); */
    /* padding: 0% 10% calc((var(--desired-height) - 100vh)) 10%; */
    @media (max-width: $mantine-breakpoint-sm) {
      padding: 0;
    }
  }
.wrapper {
    /* min-height: rem(400px); */
    border-radius: var(--mantine-radius-md);
    padding: calc(var(--mantine-spacing-xl) * 2.5);
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding: 20px;
    }
  }
  .textbox {
    background-color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xl);
    border-radius: var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-lg);

  }
  