  
  .title {
    font-weight: bold;
    font-family: Greycliff CF, var(--mantine-font-family);
    line-height: 1.2;
    font-size: xx-large;

  }
  .subtitle{
    text-transform: uppercase;
    font-weight: 700;
    /* font-size: rem(30); */
    color: $primary-color;
  }
  .body {
    padding: var(--mantine-spacing-md);
    font-size: x-large;
   
  }