.title {
  /* font-family: 'Greycliff CF', sans-serif; */
  font-weight: 600;
  color: black;
  font-size: medium;
  padding-bottom: 5px;
  font-size: x-large;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
}

.input,
.mediuminput,
.biginput {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);
  text-wrap: wrap;
  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}
.mediuminput {
  @media (max-width: $mantine-breakpoint-sm) {
    height: 125px;
  }
}
.biginput {
  height: 100px;
  white-space: pre-wrap;
  @media (max-width: $mantine-breakpoint-sm) {
    height: 300px;
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  width: 100%;
  color: #000000;
  justify-content: center;
  background-color: $primary-color-faded;
}
.loader {
  color: $secondary-color;
}
